* {
  margin: 0;
  border: 0;
  padding: 0;
}

.warp {
  width: 1422px;
}

.header {
  width: 1422px;
  height: 144px;
  background-image: url(../images/header_03.jpg);
}

.img_logo {
  width: 455px;
  height: 97px;
}

.logo {
  width: 455px;
  height: 121px;
  float: left;
  margin-left: 211px;
  padding-top: 23px;
}

.nav {
  width: 491px;
  height: 144px;
  line-height: 144px;
  float: right;
  margin-right: 206px;
}

.nav li {
  display: inline;
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-size: 10px;
  color: rgb(127, 127, 127);
  padding-right: 30px;
}

.top {
  position: relative;
  width: 1422px;
  height: 348px;
  background-image: url(../images/main_con_bg_03.jpg);
}

.content {
  width: 597;
  height: 214;
  margin-left: 240px;
  padding-top: 40px;
  margin-right: 585px;
}

.content p {
  font-size: 10px;
  color: rgb(127, 127, 127);
  line-height: 25px;
}

.red_ {
  text-decoration: underline;
  color: red;
}

.content h1 {
  font-size: 19px;
  color: white;
  line-height: 60px;
}

.content input, .article_1 input, .article_2 input {
  width: 106px;
  height: 41px;
  background-image: url(../images/images/31_07.jpg);
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

.content input {
  position: absolute;
  left: 243px;
  bottom: 76px;
}

.top_img img {
  width: 338px;
  height: 342px;
}

.top_img {
  width: 338px;
  height: 342px;
  position: absolute;
  top: -33px;
  right: 213px;
}

.page {
  width: 1422px;
  height: 896px;
  background-image: url(../images/main_conbg2_03.jpg);
}

.container {
  position: relative;
  width: 943px;
  height: 896px;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 943px;
  height: 218px;
  line-height: 258px;
  margin-top: 0;
  padding-top: 40px;
}

.banner img {
  width: 300px;
  height: 180px;
}

.banner_1, .banner_2 {
  margin-right: 16px;
}

.banner input {
  width: 86px;
  height: 34px;
  background-image: url(../images/hat_03.jpg);
  font-size: 12px;
  color: rgb(138, 145, 87);
  border-radius: 10px;
  border: 3px solid white;
}

.button_1 {
  position: absolute;
  left: 20px;
  bottom: 70px;
}

.button_2 {
  position: absolute;
  left: 340px;
  bottom: 70px
}

.button_3 {
  position: absolute;
  right: 190px;
  bottom: 70px;
}

.article_1 {
  position: relative;
  width: 621px;
  height: 314px;
}

.card {
  width: 60px;
  text-align: center;
  float: left;
}

.article_1 card {
  position: absolute;
  top: 60px;
}

.week {
  height: 11px;
  line-height: 11px;
  background-color: rgb(204, 86, 36);
  font-size: 4px;
  color: white;
  border-radius: 5px 5px 0 0;
}

.day {
  font-size: 35px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.article_1>p, .article_2>p {
  margin-left: 81px;
  color: rgb(121, 121, 121);
  font-size: 14px;
  line-height: 22px;
}

.article_1>p {
  margin-top: 24px;
}

.white {
  color: white;
}

.article_1>h1 {
  font-size: 27px;
  color: white;
}

.article_1 input {
  position: absolute;
  left: 81px;
  bottom: 31px;
}

.article_2 {
  position: relative;
  width: 621px;
  height: 280px;
  padding-top: 30px;
  border-top: 1px dotted rgb(60, 61, 61)
}

.article_2>p {
  margin-left: 321px;
}

.article_2>img {
  position: absolute;
  width: 220px;
  height: 160px;
  left: 81px;
  top: 30px;
}

.article_2 input {
  position: absolute;
  top: 222px;
  left: 81px;
}

.aside {
  position: absolute;
  right: 0;
  top: 262px;
  width: 300px;
  height: 636px;
}

._top {
  width: 300px;
  height: 48px;
  line-height: 48px;
  background-image: url(../images/header_03.jpg);
}

._top>p {
  color: white;
  font-size: 20px;
  text-indent: 22px;
}

.aside ul {
  line-height: 35px;
  list-style: url(../images/sanjiao_64.png);
  margin-top: 25px;
  color: white;
  font-size: 10px;
  margin-left: 30px;
}

.aside ul li {
  height: 33px;
  border-bottom: 1px dotted rgb(60, 61, 61)
}

.aside ul li:last-child {
  border: none;
}

._bottom {
  width: 300px;
  height: 231px;
  margin-top: 30px;
  background-image: url(../images/header_03.jpg);
}

._bottom h1 {
  font-size: 16px;
  color: white;
  padding: 20px;
}

._bottom h2 {
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 17px 20px 0 20px;
}

._bottom p {
  font-size: 8px;
  line-height: 24px;
  color: rgb(127, 127, 127);
  padding: 0 20px 0 20px;
}

._bottom img {
  padding-left: 20px;
}

.footer {
  width: 1422px;
  height: 124px;
  background-image: url(../images/header_03.jpg);
}

.com {
  width: 276px;
  height: 87px;
  padding-top: 37px;
  text-align: center;
  margin-left: 414px;
  float: left;
}

.com p {
  line-height: 26px;
  font-size: 10px;
  color: rgb(127, 127, 127);
}

.com span {
  text-decoration: underline;
  color: red;
}

.pic {
  width: 144px;
  height: 124px;
  line-height: 124px;
  float: right;
  margin-right: 312px;
}

.pic img {
  width: 26px;
  height: 26px;
  margin-right: 6px;
}
