* {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
table {

  width: 1000px;
  height: 500px;
  border-collapse: collapse;
  margin: 100px auto 0 auto;
  border: 1px solid #a8a8a8;
}
td {
  border-top: 1px solid #a8a8a8;
  padding: 10px;
  background-color: rgb(237,245,255);
  text-align: center;
  vertical-align: middle;

}
th {
  padding: 10px;
  background-color: rgb(225,241,255);
}
.count_input {
  text-align: center;
  width: 32px;
  height: 22px;
  border: 1px solid #a8a8a8;
}
.count span {
  display: inline-block;
  width: 11px;
  height: 11px;
  line-height: 9px;
  border: 1px solid #a8a8a8;
  background: white;
  cursor: pointer;
}
.check {
  border: 2px solid #a8a8a8;
}
.delete {
  cursor: pointer;
}
.foot {
  width: 1000px;
  height: 60px;
  line-height: 60px;
  background: rgb(218,237,255);
  border: 1px solid #a8a8a8;
  margin: 20px auto;
}
.fl {
  margin-left: 40px;
  float: left;
}
.fr {
  margin-right: 40px;
  float: right;
}
.closing {
  width: 100px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #a8a8a8;
  cursor: pointer;

}
#priceTotal,#selectedTotal {
  color: red;
  font-size: 20px;
  font-weight: 700;
}
