* {
  margin: 0;
  border: 0;
  padding: 0;
}
.warp {
  width:100%;
  background-color: rgb(246,246,246);

}

.header {

  background-color: rgb(255, 255, 255);

}

.headerTop {
  height: 44px;


}
.logo {
  background: url()
  width: 250px;
  height: 88px;
  position: absolute;
  bottom: 0;
  left:418px;
}

.header_bottom {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.container {
  width: 1100px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
}

.login {
  text-indent: 15px;
  float: left;
  font-size: 14px;

}

.login span {
  margin-right: 30px;

}
.login a {
  text-decoration: none;
  color:black;
}

.buyCar {
  float: right;
  font-size: 14px;
      background: url(http://img2.wowsai.com/themes/mall/wowsai/styles/default/newwowsai/buycar.png) 0 13px no-repeat;
      padding-left: 30px;
}

.buyCar a {
  text-decoration: none;
  color: rgb(91, 91, 91);
}

.buyCar span {
  color: rgb(240, 133, 61)
}
.nav {
  width: 100%;
  height:44px;
  background-color: white;
  border-bottom: 2px solid rgb(240,240,240);
}
.nav_left {
  float: left;
  position: relative;
}


.nav_left ul {
  height: 44px;
  line-height: 44px;
}


.nav_left li {
  width: 45px;
  float: left;
  padding-left: 17px;
  list-style: none;
  border-left: 1px solid rgb(240, 240, 240);
}
.firstLi {
  background: url(http://img2.wowsai.com/themes/mall/wowsai/styles/default/newwowsai/icon.png);
  cursor: pointer;


}
.firstLi:hover {
  background-color: rgb(246,246,246);
}

.nav_left li:first-child {
  width: 39px;
}

.nav_left a, .nav_right li a {

  text-decoration: none;
  font-size: 14px;
  color: black;
}
.nav_left a:hover {
  color: rgb(90,202,202);
}

.login a:hover {
  color: rgb(90,202,202);
}
.nav_right li a:hover {
  color: rgb(90,202,202);
}


.nav_right .search,.nav_right input,.nav_right li{
  float: right;
}
.nav_right li {
  width: 45px;
  padding-left: 17px;
  list-style: none;
  border-left: 1px solid rgb(240,240,240);
}
.nav_right input {
  line-height: 44px;

  border-left: 1px solid rgb(240,240,240);
  width: 200px;
  border-bottom: none;
  border-right: none;
  text-indent: 10px;
  color: rgb(117,117,117);
}
.search {
  display: block;
  width: 42px;
  height: 43px;
  border-right: 1px solid rgb(240,240,240);


  background: url(http://img2.wowsai.com/themes/mall/wowsai/styles/default/newwowsai/search.png) no-repeat center;
}

.logo img {
  width: 250px;
  height: 88px;
}
#container1 {
  position: relative;
  width: auto;
  height: 525px;
  overflow: hidden;

}
#list {
  position: absolute;
  z-index: 2;
  width: 9990px;
  height: 525px;
}
#list img {
  float: left;
  width: 1665px;

  height: 525px;
}


#buttons {
  position: absolute;
  bottom: 25px;
  left: 46%;
  width: 132px;
  height: 12px;
  z-index: 2;

}
#buttons span {
  float: left;
  display:block;
  width: 13px;
  height: 12px;
  background-color: rgb(129,128,127);
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;


}
#buttons .on {
  background-color: rgb(87,186,195);
}
#buttons span:hover {
  background-color: rgb(87,186,195);
}
.arrow {
  position: absolute;
  cursor: pointer;
  display: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  z-index: 2;
  top: 232px;
  font-size: 100px;
  font-weight:bold;
  text-decoration: none;
  color: rgb(87,86,89);
}
#container1:hover .arrow {
  display: block;
}

.arrow:hover {
  color: rgb(87,186,195);
}
#prev {
  left: 20px;
}
#next {
  right: 20px;
}


.container2 {
  width: 1100px;
  height: auto;
  margin: auto;
}
.h2 {
  width: 1100px;
  height: 90px;
  line-height: 150px;
  font-size: 30px;
  text-align: center;
  color: rgb(153,153,153);

}
.fixed {

  width: 1100px;
  height: 449px;

}
.container3 {
  display: flex;
}
.container_list {
  position: relative;
  width: 242px;
  height: 314px;
  margin-right: 44px;
  margin-top: 36px;
  background-color: white;
}

.container_list a {
  text-decoration: none;
}
.shadowed {
  position: absolute;
  background-color: white;
  color: #54d6d6;
  box-shadow: 5px 5px  rgb(221,221,221);
  bottom: -27px;
  left: 23px;
  text-align: center;

}
.podLabel{
  width: 196px;
  height: 54px;
  line-height: 54px;
}
.shadowed:hover{
  box-shadow: 5px 5px rgb(243,164,71)
}
.container_1{
  width: 1100px;
  height: 831px;
}
.sider {
  margin-right: 0;
}
.toper {
  margin-top: 71px;
}
.list_biger {
  width:528px;
  height:314px;
}
.shadowed_biger {
  width:482px;
  height:54px"
}
.highter {
  width: 196px;
  height: 74px;
  line-height: 74px;
  line-height: 20px;

}
.highter_ {
  margin: 16px auto;

  width: 162px;
  height: 40px;
  line-height: 20px;
}
.container_2 {
  width: 1100px;
  height: 831px;
}
.container_3 {
  width: 1100px;
  height: auto;
  margin-top: 75px;
}
.h3{
  font-size: 30px;
  text-align: center;
  color: rgb(153,153,153);
  padding: 70px 0 0 0;
}
.shangouBtn {
  width: 83px;
}
.moreBtn {
  display: block;
  height: 23px;
  margin:0 auto 0;
  background: url(http://img1.wowsai.com/themes/mall/wowsai/styles/default/newwowsai/more.png) no-repeat;

}
.list2 {
  width: 337px;
  height: 201px;
}
.size1 {
  height: 54px;
  width: 267px;
  line-height: 54px;
}
.designer {
  width: 96px;
  background-position: 0 -23px;

}
.shower {
  position: relative;
  width: 550px;
  height: 180px;
}
.shower:hover > a > .hidden{
  display: block;
}
.hidden {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 542px;
  height: 172px;
  z-index: 2;
  border: 4px solid black;
}

.hidden p {
  width: 271px;
  height: 173px;
  opacity: 0.5;

}
.hidden dl {
  width: 90px;
  height: 70px;

  z-index: 5;
  text-align: center;
  color: white;
}
.hidden1 dl{
  position: absolute;
  left: 365px;
  top: 50px;
}
.hidden2  dl{
  position: absolute;
  left: 92px;
  top: 50px;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
}
.left {
  position: absolute;
  left: 0;
  top: 0;
}

.right1 {
  position: absolute;
  top: 0;
  right: 0;
}
.container_4,.container_5,.container_6{
  width: 1100px;
  height: auto;
}
.huabaoBtn {
  background-position: 0 -46px;
  width: 109px;
}
.list3 {
  width: 242px;
  height: 200px;
}
.container3_ {
  display: flex;
  position:absolute;
  bottom: 0;
  right: 0;
  height: 236px;
  width: 528px;
}
.bottom {


  background: url(http://img2.wowsai.com/themes/mall/wowsai/styles/default/newwowsai/footer_bg.gif) repeat-x #f6f6f6 bottom;
  background-color: white;
  margin:90px auto 0;
}
.bottom a {
  width: 160px;
  height: 68px;
  display: block;
  margin: 20px 0 0 17px;
}
.bottom_2 {
  height: 277px;

  background-color: rgb(246,246,246);

}
._2_container {
  width: 1100px;
  margin: 100px auto 0;
  display: flex;
}
._2_container p {
  font-size: 20px;
  color: #06c7d3;
}
._2_container ul{
  margin-top: 15px;

}
._2_container li {
  font-size: 14px;
  list-style: none;
  color: rgb(74,74,74);
}
._2_container a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(74,74,74);
}
.t3 a {
  background:url(http://img2.wowsai.com/themes/mall/wowsai/styles/default/newwowsai/share.png) no-repeat;
  padding-left: 40px;
  display: block;
  width: 100px;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  margin-bottom: 10px;

}

.t1 {
  width: 80px;
  height: 140px;
  margin-left: 75px;
}
.t2 {
  width: 150px;
  height: 167px;
  margin-left: 170px;
}
.t3 {
  width: 140px;
  height: 230px;
  margin-left: 100px;
}
.t3 .qq {
  background-position:0 -39px;
}
.t3 .douban {
  background-position: 0 -78px;
}
.t3 .renren {
  background-position: 0 -117px;
}
.t3 .weixin {

  background-position: 0 -157px;
}
.li_weixin {
  position: relative;
}
.imgWeixin {
  display: none;
  width: 159px;
  height: 172px;
  position: absolute;
  top: -165px;
  left: 10px;

}
.li_weixin:hover .imgWeixin {
  display: block;
}
.t4 {
  position: relative;
  width: 118px;
  height: 162px;
  margin: 13px 0 0 170px;
}

.t5 {



  display: block;
  position:absolute;
  width: 91px;
  height: 14px;
  bottom: 0px;
  left: 11px;


}
.footer {
  width: 100%;
  height: 366px;
  background-color: #07c7d3;
}
.footer_con , a{
  width: 1100px;
  color: white;
  margin:0 auto;
  text-decoration: none;

}
.h {
  height: 135px;
  line-height: 135px;
  text-align: center;
  font-size: 27px;
}
.footerNav, .hh{
  height: 20px;

  text-align: center;
  font-size: 12px;
}
.footerNav a{
  margin-right: 9px;
}
.hh {
  margin-top: 15px;
}

.erweima,.toTop {
  width: 56px;
  height: 56px;
  cursor: pointer;
  z-index: 999;
  position: fixed;

}
.erweima {

  background: url(http://www.wowsai.com/themes/mall/wowsai/styles/default/newimages/erweima.jpg) no-repeat ;

  bottom:160px;
  right:75px;
  background-position:0 -72px;

}
.erweima:hover {
  background:url(http://www.wowsai.com/themes/mall/wowsai/styles/default/newimages/erweima.jpg) no-repeat 0 0;
}
.erweima_pic {
  display: none;
  position: fixed;
  width: 301px;
  height: 185px;
  right: 136px;
  bottom: 162px;
  z-index: 99;
}

.toTop {
  bottom:95px;
	right:75px;
  background: url(http://www.wowsai.com/themes/mall/wowsai/topics/images/totop1.gif) no-repeat 0 0;

}
.toTopHover {
  display: none;
  background:url(http://www.wowsai.com/themes/mall/wowsai/topics/images/totopd1.gif) no-repeat ;
  width: 56px;
  height: 56px;
}
